@media (min-width:992px){
    .wrapper{
        display: flex;
        flex-direction:column; 
        }
        .aside{
            display: flex;
            flex-direction:column-reverse;
        }
        .aside-menu{
            max-width: 480px;
            display: flex;
            flex-direction:row;
        }
        .banner{
            position: relative;
            width: 480px;
            height: 373px;
        }

        .banner-image{
            width: 480px;
            height: 373px;
        }

        .text__description{
            width: 480px;
            height: 42px;
            font-size: 14px;
            line-height: 14px;
            color: #FFFFFF;   
            background-color: #000000;
        }

        .main-slider{
            display: flex;
            width: 480px;
            flex-direction: column;

        }
        .main-cards{
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            justify-content: space-between;
        }
    }